@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
    
}
body {
    display: grid;
    justify-content: center;
    font-family:'Joan', serif;
    grid-template-columns: 100px 50px 1fr 1fr;
    grid-template-rows: 1fr 450px 1fr;
    grid-template-areas: 
    ". header header ."
    "sidebar . main main"
    "footer footer footer footer";
}

header {
    color: black;
    padding: 18px;
    font-family: 'Joan', serif;
    font-weight: bold;
    font-size: 32px;
    grid-area: header;
    justify-self: start;
}

.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    overflow-x: hidden;
    padding-top: 75px;
    grid-area: sidebar;
}

.images, .dropdown-about {
    color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 8px;
    margin: 18px;
}

main {
    grid-area: main;
    height: 250px;
}
/*
.dancinggoat {
    grid-area: dancinggoat;
}

.goat {
    width: 100px;
    height: 100px;
    position: relative;
    animation: goatdance 5s linear 2s infinite alternate;
}

@keyframes goatdance {
    0%   {left:0px; top:0px;}
  100% {left:500px; top:0px;}
}

.grass {
   background-color: green;
   border-style: dotted;
   border-color: yellowgreen;
   border-width: 5px;
   padding: 18px;
   width: 500px;
   height: 10px;
   margin: 2%;
}
*/

footer {
    padding: 8px;
    margin-top: 150px;
    grid-area: footer;
}

a {
    text-decoration: none;
    color: black;
}

.sidebar a:hover, .dropdown-about:hover {
    color: #767474;
    cursor: pointer;
}

.dropdown-container {
    display: none;
    padding-left: 32px;
}

li {
    list-style-type: none;
    padding: 4px;
}

.thumbnail {
    padding: 8px;
}

.year {
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.homepage-img {
    margin-left: 300px;
}

.returnbtn {
    padding: 8px;
    margin: 8px;
    font-size: 11px;
    flex-grow: 1;
}
